body,
ul,
dl,
dd,
p,
h4 {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
  font-size: 14px;
  color: #333;
}
.pull-right {
  transform: translate(240px, 0);
}
.clearfix:after,
.clearfix:before {
  content: '';
  height: 0;
  line-height: 0;
  display: table;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
