body,
ul,
dl,
dd,
p,
h4 {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
  font-size: 14px;
  color: #333;
}
.pull-right {
  transform: translate(200px, 0);
}
.clearfix:after,
.clearfix:before {
  content: '';
  height: 0;
  line-height: 0;
  display: table;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* 顶端头部===================begin */
.all {
  /* overflow: hidden; */
}
.left {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 1200px;
  background-color: green;
  transition: all 0.3s ease-in;
}
.right {
  transition: all 0.3s ease-in;
}
.header {
  border-bottom: 1px solid #ccc;
}
.header ul {
  width: 970px;
  height: 50px;
  margin: 0 auto;
}
.header ul li {
  line-height: 50px;
  text-align: center;
  float: left;
  border-right: 1px solid #ccc;
}
.header ul .p-wjs {
  width: 220px;
}
.header ul .serve {
  width: 330px;
}
.header ul .problem {
  width: 180px;
}
.header ul .login {
  width: 235px;
  border-right: none;
}
.header ul .login a:nth-child(1) {
  width: 66px;
  height: 22px;
  line-height: 1.5;
  background-color: #e61e25;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
  margin-right: 10px;
}
/* 顶端头部===================end */
.menu {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: none;
}
.menu a {
  display: inline-block;
  line-height: 50px;
  font-size: 20px;
}
.menu .other-nav {
  padding-left: 50px;
  background: url('../images/menu.png') no-repeat 25% 50%;
}
.menu .other-center {
  float: right;
  padding-right: 30px;
}
.nav {
  border-bottom: 1px solid #ccc;
}
.nav ul {
  width: 970px;
  height: 50px;
  margin: 0 auto;
}
.nav ul li {
  float: left;
}
.nav ul li a {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  font-size: 18px;
}
.nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav ul .logo img {
  width: 139px;
  height: 33px;
}
.nav ul .logo:hover {
  background-color: #fff;
}
.invest-sill {
  max-width: 1170px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
}
.invest-sill p {
  font-size: 18px;
  margin-left: -20px;
  font-weight: 500;
}
.invest-sill div {
  flex: 1;
  margin-left: 40px;
}
.invest-sill div li {
  list-style-type: circle;
  margin: 10px 0;
}
.newBid {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.newBid-inside {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.newBid-inside p {
  margin: 20px;
}
.newBid-inside p a:nth-last-child(2) {
  color: #428bca;
  margin: 0 20px;
}
.newBid-inside p a:last-child {
  border-bottom: 1px dashed #efb513;
}
.newBid-inside span {
  color: #efb513;
}
.three-video {
  width: 110px;
  height: 34px;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -17px;
  background: url(../images/help-mv.png) no-repeat;
  background-size: contain;
}
.especially-recommend {
  background: url(../images/box-style-bg.png);
}
.especially-recommend .micro-financing ul {
  max-width: 1170px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
.especially-recommend .micro-financing ul li:first-child {
  border-bottom: 3px solid #e61e25;
}
.especially-recommend .micro-financing li {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  margin-right: 10px;
  border-bottom: 3px solid transparent;
}
.especially-recommend .micro-financing a {
  font-size: 15px;
  color: #333;
}
.especially-recommend .micro-financing li:hover {
  border-bottom: 3px solid #e61e25;
}
.especially-recommend .especially-whiteBar {
  max-width: 1170px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.especially-recommend .especially-whiteBar span {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 10px solid #e61e25;
  position: absolute;
  top: -18px;
  left: 50px;
}
.especially-recommend .micro-incomeul {
  max-width: 1170px;
  margin: 0 auto;
  text-align: justify;
  /* 伪元素添加半圆 */
}
.especially-recommend .micro-incomeul li {
  display: inline-block;
  width: 31.5%;
  height: 148px;
  background-color: skyblue;
  margin-bottom: 20px;
}
.especially-recommend .micro-incomeul .last-li {
  width: 31.5%;
  height: 0;
  display: inline-block;
}
.especially-recommend .micro-incomeul .incomeul-left {
  position: relative;
  width: 69%;
  border-right: 2px dashed #ccc;
  height: 100%;
}
.especially-recommend .micro-incomeul .incomeul-left dt {
  font-size: 15px;
}
.especially-recommend .micro-incomeul .incomeul-left .title {
  font-size: 12px;
  color: #fff;
}
.especially-recommend .micro-incomeul .incomeul-left .count {
  font-size: 18px;
  color: #fff;
}
.especially-recommend .micro-incomeul .incomeul-left:before,
.especially-recommend .micro-incomeul .incomeul-left:after {
  content: '';
  width: 0;
  height: 0;
  border: 6px solid #EFEFEF;
  border-radius: 6px;
}
.especially-recommend .micro-incomeul .incomeul-left:before {
  position: absolute;
  top: -6px;
  right: -6px;
}
.especially-recommend .micro-incomeul .incomeul-left:after {
  position: absolute;
  right: -6px;
  bottom: -6px;
}
.especially-recommend .micro-incomeul .incomeul-right {
  width: 30%;
}
.especially-recommend .micro-incomeul:after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 0;
}
@media (max-width: 979px) {
  .especially-recommend .micro-financing > ul {
    width: 750px;
    margin: 0 auto;
  }
  .especially-recommend .especially-whiteBar {
    max-width: 750px;
    margin: 15px auto;
  }
  .header ul {
    width: 750px;
  }
  .header ul .p-wjs {
    display: none;
  }
  .invest-sill {
    max-width: 750px;
  }
  .nav ul {
    max-width: 750px;
  }
  .nav ul .wlt {
    display: none;
  }
  .three-video {
    display: none;
  }
  .newBid-inside {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .micro-financing {
    overflow: auto;
  }
  .header,
  .nav,
  .invest-sill {
    display: none;
  }
  .menu {
    display: block;
  }
}
